global
    log stdout format raw local0
    stats socket ipv4@127.0.0.1:9999 level admin
    maxconn 512

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 3s
    timeout client 30s
    timeout server 30s
    timeout check 2s

listen primary_route
    bind :5000
    option httpchk GET /primary
    http-check expect status 200
    default-server inter 1s fall 2 rise 2
    server primary primary:5432 check port 8008
    server base base:5432 check port 8008

listen replicas
    bind :5001
    balance roundrobin
    option httpchk GET /replica
    http-check expect status 200
    default-server inter 1s fall 2 rise 2
    server base base:5432 check port 8008
    server elastic1 127.0.0.1:5432 disabled check port 8008
    server elastic2 127.0.0.1:5432 disabled check port 8008
    server elastic3 127.0.0.1:5432 disabled check port 8008
    server elastic4 127.0.0.1:5432 disabled check port 8008
